isoduration==20.11.0
Hypercorn==0.18.0
zipstream-ng==1.9.2
texttable==1.7.0
cffi==2.1.0
django-cors-headers==4.9.0
tomli==2.4.1
typing-inspection==0.4.2
hf-xet==1.5.1
nh3==0.3.6
ansicolors==1.1.8
sqlparse==0.5.5
node==2.0.0
urnparse==0.2.2
priority==2.0.0
aioquic==1.3.0
hyperframe==6.1.0
watchdog==6.0.0
pycryptodomex==3.23.0
case-converter==1.2.0
humanfriendly==10.0
filetype==1.2.0
rich==15.0.0
taskgroup==0.2.2
referencing==0.37.0
dateparser==1.4.1
brotli==1.2.0
rpds-py==0.30.0
rarfile==4.3
service-identity==26.1.0
exceptiongroup==1.3.1
tzlocal==5.4.4
h11==0.16.0
rfc3339-validator==0.1.4
rfc3987==1.3.8
mdurl==0.1.2
cryptography==49.0.0
asgiref==3.12.1
deepdiff==9.1.0
marshmallow-jsonschema-2==0.1.0
tqdm==4.68.3
markdown-it-py==4.2.0
wsproto==1.3.2
backports-datetime-fromisoformat==2.0.3
whitenoise==6.12.0
django-rest-registration==0.9.0
aioprocessing==2.0.1
zope.hookable==8.2
pydantic_core==2.46.4
django-vite==3.1.0
click==8.4.2
rich-argparse==1.8.0
zope.proxy==7.2
regex==2026.7.10
djangorestframework==3.17.1
jsonschema-specifications==2025.9.1
pyOpenSSL==26.3.0
drf-spectacular==0.30.0
Versio==0.5.0
pyppmd==1.3.1
uritemplate==4.2.0
simplejson==3.20.2
channels==4.3.2
httpx==0.28.1
websocket-client==1.9.0
pycountry==26.2.16
pyparsing==3.3.2
marshmallow==4.3.0
python-dateutil==2.9.0.post0
packaging==26.2
marshmallow-union==0.1.15.post1
comicfn2dict==0.3.2
odict==2.0.0
attrs==26.1.0
humanize==4.16.0
pymupdf==1.28.0
py7zr==1.1.3
zope.event==6.2
bidict==0.23.1
annotated-types==0.7.0
hpack==4.2.0
pybcj==1.0.8
arrow==1.4.0
tzdata==2026.3
pycparser==3.0
psutil==7.2.2
boltons==26.0.0
jiter==0.16.0
zope.deprecation==6.0
xmlschema==4.3.2
openai==2.46.0
pydantic==2.13.4
comicbox-pdffile==0.5.1
cachebox==5.2.3
zope.deferredimport==6.1.1
comicbox==2.2.3
jsonschema==4.26.0
pylsqpack==0.3.24
ruamel.yaml==0.19.1
pillow==12.3.0
httpcore==1.0.9
pytz==2026.2
zope.component==7.1
plumber==2.0.0
typing_extensions==4.16.0
Django==5.2.16
sniffio==1.3.1
djangorestframework-camel-case==1.4.2
django-cachalot==2.9.0
glom==25.12.0
zope.lifecycleevent==6.0
backports.zstd==1.6.0
confuse==2.1.0
xmltodict==1.0.4
h2==4.3.0
huggingface==0.0.1
multivolumefile==0.2.3
fqdn==1.5.1
uri-template==1.3.0
zipremove==0.10.0
face==26.0.1
inflection==0.5.1
Pygments==2.20.0
loguru==0.7.3
orderly-set==5.5.0
webcolors==25.10.0
fnvhash==0.2.1
git-filter-repo==2.47.0
inflate64==1.0.4
elementpath==5.1.3
anyio==4.14.1
wrapt==2.2.2
yacs==0.1.8
nvidia-cusparselt-cu12==0.7.1
typing-inspection==0.4.2
nvidia-nvshmem-cu12==3.4.5
setproctitle==1.3.7
hf-xet==1.5.1
matplotlib==3.10.9
GitPython==3.1.50
pip==26.1.2
nvidia-cudnn-cu12==9.20.0.48
nvidia-nvtx-cu12==12.8.90
hjson==3.1.0
flash_attn==2.8.3.post1
websockets==16.0
tzdata==2026.2
watchdog==6.0.0
accelerate==1.14.0
opencv-python==5.0.0.93
safetensors==0.8.0
glfw==2.10.2
PyYAML==6.0.3
rich==15.0.0
cuda-toolkit==12.8.1
mujoco==3.11.0
python-dotenv==1.2.2
filelock==3.29.5
fonttools==4.63.0
smmap==5.0.3
zipp==4.1.0
nvidia-cusparse-cu12==12.5.8.93
exceptiongroup==1.3.1
h11==0.16.0
iopath==0.1.10
portalocker==3.2.0
absl-py==2.5.0
ninja==1.13.0
mdurl==0.1.2
pyarrow==24.0.0
cuda-pathfinder==1.2.2
cycler==0.12.1
tqdm==4.68.3
markdown-it-py==4.2.0
importlib_metadata==9.0.0
gitdb==4.0.12
aria2==0.0.1b0
certifi==2026.6.17
contourpy==1.3.2
bottle==0.13.4
pydantic_core==2.46.4
click==8.4.2
tabulate==0.10.0
setuptools==78.1.0
diffusers==0.39.0
urllib3==2.7.0
deepspeed==0.19.2
six==1.17.0
nvidia-cufft-cu12==11.3.3.83
httpx==0.28.1
pyparsing==3.3.2
mpmath==1.3.0
nvidia-cufile-cu12==1.13.1.3
python-dateutil==2.9.0.post0
cuda-bindings==12.9.4
nvidia-cuda-nvcc-cu12==12.9.86
waitress==3.0.2
fsspec==2026.6.0
requests==2.34.2
numpy==2.2.6
av==17.1.0
torch==2.12.0.dev20260408+cu128
idna==3.18
annotated-types==0.7.0
accelerator==2025.11.11
torchaudio==2.11.0.dev20260407+cu128
nvidia-curand-cu12==10.3.9.90
pandas==2.3.3
psutil==7.2.2
sympy==1.14.0
tokenizers==0.15.2
nvidia-nccl-cu12==2.29.7
simplejson==4.1.1
nvidia-cuda-nvrtc-cu12==12.8.93
sentry-sdk==2.64.0
importlib_resources==7.1.0
networkx==3.4.2
pydantic==2.13.4
regex==2026.6.28
prettytable==3.18.0
py-cpuinfo==9.0.0
nvidia-ml-py==13.610.43
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cusolver-cu12==11.7.3.90
transformers==4.39.0
pillow==12.3.0
httpcore==1.0.9
swanlab==0.8.4
kiwisolver==1.5.0
pytz==2026.2
platformdirs==4.10.0
protobuf==6.33.6
nvidia-cuda-runtime-cu12==12.8.90
etils==1.13.0
typing_extensions==4.16.0
pyecharts==2.1.0
MarkupSafe==3.0.3
timm==1.0.27
wandb==0.28.0
torchvision==0.27.0.dev20260407+cu128
wheel==0.47.0
einop==0.0.1
nvidia-nvjitlink-cu12==12.8.93
PyOpenGL==3.1.10
msgpack==1.2.1
huggingface_hub==0.36.2
Jinja2==3.1.6
pydantic-settings==2.14.2
orjson==3.11.9
packaging==26.0
charset-normalizer==3.4.7
einops==0.8.2
fvcore==0.1.5.post20221221
Pygments==2.20.0
termcolor==3.3.0
nvidia-cublas-cu12==12.8.4.1
wcwidth==0.8.2
triton==3.7.0+git282c8251
anyio==4.14.1
jaraco.text==3.12.1
jaraco.collections==5.1.0
packaging==24.2
wheel==0.45.1
backports.tarfile==1.2.0
tomli==2.0.1
importlib_metadata==8.0.0
more-itertools==10.3.0
zipp==3.19.2
autocommand==2.2.2
typeguard==4.3.0
inflect==7.3.1
platformdirs==4.2.2
jaraco.functools==4.0.1
jaraco.context==5.3.0
typing_extensions==4.12.2
